/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: orange;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #ffc107;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #343a40;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #ffffff;
}
table th{
	   background-color: red;
}


table, th, td {
    border: 1px solid #dee2e6;
   
}

th, td {
    padding: 10px;
    text-align: left;
  
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    margin: 5px;
}

.button:hover {
    background-color: #0056b3;
}

.delete {
    background-color: #dc3545;
}

.delete:hover {
    background-color: #c82333;
}

form {
    width: 50%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

form label {
    display: block;
    margin: 10px 0 5px;
    color: #343a40;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
