/* Reset some default browser styling */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color:gray;
    color: #333;

}

.img{
	width:150px;
	height:200px;
	padding-left: 0px;
}

.header {
    background-color:lightblue;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ff6b6b;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color:blue;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color:black;
    border-radius: 5px;
}

.join-btn {
    background-color: #ff6b6b;
    color:blue;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.join-btn:hover {
    background-color:  #ff3b3b;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
 background-image:url('fitness2.jpeg');
    color: white;
    text-align: center;
}

.hero-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.cta-btn {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.cta-btn:hover {
    background-color: #ff3b3b;
}

.services {
    display: flex;
    justify-content: space-around;
    margin: 40px 20px;
}

.service-card {
    background-color:lightblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
